.ar-view {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);


    .help {
        position: absolute;
        right: 30px;
        top: 40px;
       
        padding:.25rem .75rem;
        // width: 80px;
        // height: 40px;
        background-color: #{$btn-background};
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-weight: 750;
            color: #{$btn-color};
            font-size: 18px;
            margin: 0;
        }
    }

    .help-pop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 300px;
        height: 290px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 1rem 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .close-icon-btn {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .close-icon {
                width: 30px;
                height: 30px;
            }
        }


        img {
            // width: 100%;
        }

        .help-large-scale{
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #{$btn-color};
            margin: 0;
        }
        .help-small-scale{
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            color: gray;
            // margin: 0 0 15px 0;
        }
        .boddarti{
            animation:bodd 3s linear infinite
        }
        @keyframes bodd {
            0% {
                transform: rotate(-30deg);
            }
            50% {
                transform: rotate(10deg);
            }
            100% {
                transform: rotate(-30deg);
            }
        }
    }


    .button-group {
        width: 100%;
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;
        // z-index: 1;

        .circle-frame {
            box-shadow: 0 0 0 3px white;
            width: 70px;
            height: 70px;
            border-radius: 35px;
            background-color: transparent;
            position: relative;

            .click-photo-view {
                transition: 0.5s;
                width: 140px;
                height: 70px;
                position: absolute;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                right: 3px;

                .take-video-btn {
                    transition: 0.5s;
                    width: 45px;
                    height: 45px;
                    border-radius: 22.5px;
                    background-color: #{$btn-background};
                    position: relative;

                    .video-icon {
                        transition: 0.5s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 45px;
                        height: 45px;
                        border-radius: 22.5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .videocam-icon {
                            transition: 0.5s;
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                .take-photo-btn {
                    transition: 0.5s;
                    width: 64px;
                    height: 64px;
                    border-radius: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #{$btn-background};

                    .camera-icon {
                        transition: 0.5s;
                        width: 50px;
                        height: 50px;
                    }
                }

            }

            .click-video-view {
                transition: 0.5s;
                width: 140px;
                height: 70px;
                position: absolute;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                right: -73px;

                .take-video-btn {
                    transition: 0.5s;
                    width: 64px;
                    height: 64px;
                    border-radius: 32px;
                    background-color: #{$btn-background};
                    position: relative;

                    .CircularProgressbar {
                        width: 76px;
                        height: 76px;
                        position: absolute;
                        top: -7px;
                        left: -7px;
                        .CircularProgressbar-path{
                            stroke:#{$color};
                            stroke-linecap: round;
                        }
                    }
                    

                    .video-icon {
                        transition: 0.5s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 64px;
                        height: 64px;
                        border-radius: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .videocam-icon {
                            transition: 0.5s;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }

                .take-photo-btn {
                    transition: 0.5s;
                    width: 45px;
                    height: 45px;
                    border-radius: 22.5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #{$btn-background};

                    .camera-icon {
                        transition: 0.5s;
                        width: 32px;
                        height: 32px;
                    }
                }

            }
        }

    }
}