.loading {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  max-width: 1024px;
  .loading-wording {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loading-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .loading-icon {
        color:#{$color};
        width: 50px;
        height: 50px;
      }

      .loading-text {
        width: 100%;
        text-align: center;
        color:#{$color};
        margin: 16px 0 0 0;
      }
    }
  }

  .asus-logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
  }
  .bottomDeco{
    .birds{
      width: 60px;
      transform:translateX(-400px);
      animation: loop 4s linear infinite;
      position: absolute;
      top: -12px;
      @media (min-width:640px) {
        width: 100px;
        top: -30px;
      }
      // animation: birds 3s linear infinite;
    }
    .bikes{
      width: 120px;
      transform:translateX(-400px);
      animation: loop 6s linear infinite;
      @media (min-width:640px) {
        width: 180px;
      }
    }
   
  }
  @keyframes birds {
    0% {
      transform:translateY(0px);
    }
    100% {
      transform:translateY(10px);
    }
  }
  @keyframes loop {
    0% {
      transform:translateX(-400px);
    }
    100% {
      transform:translateX(350px);
    }
  }
}

.frame{
  position: fixed;
  width: 100%;
  bottom:0;
  max-width: 1024px;
  .crab{
    position: absolute;
    top:-50px;
    right:0px;
    animation: crab 2s linear infinite;
    
  };
  .grass{
    width: 100vw;
    position: relative;
  }
  .egret{
    bottom: 0;
    left:20px;
    position: absolute;
    animation: egret 2s linear infinite;
    @media (min-width:640px) {
      bottom: 80px;
      left:50px;
    }
  }

  @keyframes egret {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes crab {
    0% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
}