.loading {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  .loading-wording {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loading-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .loading-icon {
        color:#{$color};
        width: 50px;
        height: 50px;
      }

      .loading-text {
        width: 100%;
        text-align: center;
        color:#{$color};
        margin: 16px 0 0 0;
      }
    }
  }

  .asus-logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
  }
  .bottomDeco{
    transform:translateX(-400px);
    animation: loop 6s linear infinite;
  }
  @keyframes loop {
    0% {
      transform:translateX(-400px);
    }
    100% {
      transform:translateX(350px);
    }
  }
}

.frame{
  position: fixed;
  width: 100%;
  bottom:0;
  .crab{
    position: absolute;
    top:-50px;
    right:0px;
    animation: crab 2s linear infinite;
    
  };
  .grass{
    width: 100%;
    position: relative;
  }
  .egret{
    bottom: 0;
    left:20px;
    position: absolute;
    animation: egret 2s linear infinite;
  }

  @keyframes egret {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes crab {
    0% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
}